@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

.pdf-highlight {
  background-color: #fef08a;
  padding: 2px 0;
  border-radius: 2px;
}

.pdf-highlight-fallback {
  background-color: #fde047;
  padding: 2px 0;
  border-radius: 2px;
}
